/* transition - animation */
/* flex */
/* [Stylesheet - 1.0] */
/* :: 1.0 Import Fonts */
@import url("http://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,700i,900|Montserrat:400,700|PT+Serif");
/* :: 2.0 Import All CSS */
@import url(css/bootstrap.min.css);
@import url(css/owl.carousel.min.css);
@import url(fonts/font-awesome.min.css);
@import url(css/aos.css);

* {
  margin: 0;
  padding: 0; }

html{
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  padding-top: 62px!important;
}

header{
	margin: 0px;
	padding: 0px!important;
}


.spacing {
	letter-spacing: 3px;
}

.bg-gris{
	background-color: #EAEAEA!important;
}

.text-gris{
	color: #636363!important;
}

.text-azul{
	color: #2E3192!important;
}

.bg-azul{
	background-color: #2E3192;
}

.text-verde{
	color: #0ED864!important;
}

.text-olivo{
	color: #96C600!important;
}
.bg-celeste{
	background-color: #A1A4C9!important;
}

.academica div{
	padding: 70px 50px;
}

 /*Estilos de Menú*/

.menu ul li a{
	letter-spacing: 3px;
	font-size: 12px;
}

a.separador:after{
    content: " |";
    color: #ccc
}
/*Estilos de Cabecera*/

.cabecera{

	background: rgb(0,22,93);

	background-image: url("img/background-1a.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

	min-height: 600px;
	padding:0px 0px ;
	margin: 0;
	position: relative;
}

.capa-cabecera{
	background: linear-gradient(90deg, rgba(0,22,93,0.8) 0%, rgba(9,98,121,0.8) 50%, rgba(30,126,52,0.8) 100%);
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contenido-cabecera{
	position: absolute;
	bottom:80px;
	left: 80px;

}

.contenido-cabecera h1{
	font-weight: 900;
}

.academico-contenido{
	background-color: rgb(234, 234, 234);
	color: gray;
	transition: all .5s;
}

.hr-style{
	width: 70%!important;
	margin: auto;
	border: 1px solid gray;

}

.academico-contenido:hover, hr{
	background-color: rgb(192, 193, 233);
}


.servicios div{
	min-height: 300px;

}

.blog{
	
	box-shadow: 10px 10px 25px -9px rgba(0,0,0,0.7);
	padding: 0px;
	margin: 40px 30px 20px 30px;

}

.blog div{
	overflow: hidden;
}

.blog div a span{
	font-size: 18px;

}

.blog-image{
	width: 100%;
	height: 450px;
	background-size: cover;
	transition: transform .6s; /* Animation */
}

.blog-image:hover{
	transform: scale(1.1);
}

.btn-search{
	border-radius: 0px 20px 20px 0px; 
	background-color: tra; 
	border: 1px solid #2E3192; 
	border-left: 1px solid transparent; 
	outline:none !important; 
	outline-width: 0 !important; 
	box-shadow: none;
	background: transparent;
	transition: all .5s;
}

.btn-search:hover{
	font-size: 16px;
	color: green;
}

.btn-search:focus{
	outline:none !important; 
	outline-width: 0 !important; 
	box-shadow: none;
	background: transparent;
}

.input-search{
	border-radius: 20px 0px 0px 20px;
	border: 1px solid #2E3192; 
	border-right: 1px solid transparent;
	width: 95px!important;
	transition: all .5s;
	background: transparent;
	
}

.input-search:focus{
	outline:none !important; 
	outline-width: 0 !important; 
	box-shadow: none;
	border: 1px solid #2E3192; 
	border-right: 1px solid transparent;
	width: 250px!important;
	background: transparent;
}

.about{
	margin-top: 80px;
	height: 520px;
}
.slider-about{
	padding: 0px 100px;
	width: 100%;
}
.about-image{
	background-color: green;
	background-image: url('img/nosotros.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 520px;

}

.contenido{
	min-height: 420px;
}

.contenido-1{
	background-image: url('img/background-3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 420px;
}

.contenido-2{
	background-image: url('img/background-2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 420px;
}

.contenido-3{
	background-image: url('img/background-4.jpg');
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 420px;
}

.capa-contenido{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	height: 100%;
	transition: all .7s;
	color: transparent;
}

.capa-contenido:hover{
	background-color: rgba(53,169,106,0.7);
	color: white;
	text-decoration: none;
}

.team-item{
	margin: 30px 0px;
}


.team-text{
	font-size: 100px;
	font-weight: 900;
	line-height : 90px;
	overflow: visible;

}


.team-photo{
	border: double 4px transparent;
	border-radius: 1000px;
	background-image: linear-gradient(white, white), radial-gradient(circle at top left, #2a2d7e,#009b42);
	background-origin: border-box;
	background-clip: content-box, border-box;
	overflow: hidden;
	width: 118px;
	height: 118px;
}

.team-photo img{
	border: double 4px transparent;
	border-radius: 1000px;
	background-image: linear-gradient(white, white), radial-gradient(circle at top left, #2a2d7e,#009b42);
	background-origin: border-box;
	background-clip: content-box, border-box;
	overflow: hidden;
	width: 100px;
	height: 100px;
	margin: 5px;

}

.team-content{
	border: double 3px transparent;
	border-radius: 0px 0px 0px 80px;
	background-image: linear-gradient(white, white), radial-gradient(circle at top left, #2a2d7e,#009b42);
	background-origin: border-box;
	background-clip: content-box, border-box;
	width: 95%;
}

.team-content hr{
	background: linear-gradient(to right, #2a2d7e, #009b42);
	height: 2px;
	margin: 0px!important;
}

.team-description{
	width: 70%;
	color: gray;
}

.icon-team{
	
	margin-right: 15px;
}

.icon-team a{
	color: #009b42;
	font-size: 20px;
}

.icon-team a:hover{
	color: #2a2d7e;
}

#mapa{
	margin: 0;
}

.suscripcion{
	background-color: rgb(0, 147, 67);
	
}

.suscripcion-item{
	font-size: 20px;
	width: 80%;
}